@font-face {
  font-family: "bebasneue_regular";
  src: url("../fonts/bebasneue_regular.woff2") format('woff2');
}

@font-face {
  font-family: "bebasneue_light";
  src: url("../fonts/bebasneue_light.woff2") format('woff2');
}

@font-face {
  font-family: "bebasneue_bold";
  src: url("../fonts/bebasneue_bold.woff2") format('woff2');
}

@font-face {
  font-family: 'source_sans_pro';
  src: url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
  url('../fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'bebasneue_regular', 'Arial', sans-serif;
  font-size: 1.4rem;
  background-color: map_get($colors, background-color);
}

@media screen and (max-width:916px) {
  body {
    font-size: 1rem !important;
  }
}


@media screen and (max-width:645px) {
  body {
    font-size: 0.7rem !important;
  }
}


.container {
  $columnNum: 12;
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  @for $i from 1 through $columnNum {
    .col-#{$i} {
      width: (100%/$columnNum * $i);
    }
  }
}

/* ------------------------------------------------------------- */
/* heading */
/* ------------------------------------------------------------- */
.heading {
  margin-top: 10px;
  padding-top: 10px;
  .heading-title {
    font-size: 3.6rem;
    color: map_get($colors, text-color);
    letter-spacing: 0.2rem;
    font-family: "bebasneue_light", sans-serif;
    font-weight: 600;
  }
  .heading-sorting {
    text-align: right;
    font-size: 20px;
    color: map_get($colors, text-sorting);
    .sorting-title {
      margin-right: 20px;
      display: inline-block;
    }
    .sorting-price{
      position: relative;
      margin-right: 30px;
      display: inline-block;
    }
    .sorting-up {
      cursor: crosshair;
      position: absolute;
      top: -5px;
      right: -20px;

    }
    .sorting-down {
      position: absolute;
      right: -20px;
      top: 5px;
      cursor: crosshair;
    }
  }
}

/* ------------------------------------------------------------- */
/* offers */
/* ------------------------------------------------------------- */

.offers {
  margin-top: 25px;
  .offers-choice {
    .choice {
      .choice-title {
        font-size: 2.8rem;
        letter-spacing: 0.2rem;
        margin-bottom: 10px;
        font-family: "bebasneue_light", sans-serif;
        font-weight: 600;
      }
      .choice-model {
        font-size: 1.8rem;
        padding-left: 10px;
        font-weight: 200;
        .model-name {
          cursor: pointer;
          line-height: 25px;
          .model {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.offers-boxes {
  position: relative;
  .offer-box {
    margin-bottom: 25px;
    overflow: hidden;
    background-color: map_get($colors, box-color);
    height: 18.8vh;
    min-height: 180px;
    position: relative;
    .offer-image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      margin: 0;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, #828282 0%, rgba(0, 0, 0, 0.25) 38%, transparent 100%);
      }
    }
  }
  .sold {
    z-index: 1000;
    background: repeating-linear-gradient(
                    135deg,
                    #e5e5e5,
                    #e5e5e5 30px,
                    #f6f6f6 30px,
                    #f6f6f6 60px
    );
    position: relative;

    &:after {
      content: 'SPRZEDANY';
      position: absolute;
      font-size: 7.1vw;
      transform: translate(-50%, -50%) rotate(-10deg);
      top: 50%;
      left: 50%;
      margin: auto;
      color: rgba(151, 151, 151, 0.6);
      z-index: 2;
      font-family: "bebasneue_bold", sans-serif;
      letter-spacing: 5px;
      font-weight: 600;

    }
  }
}

.offer-box {
  position: relative;
  .offer-titles {
    position: absolute;
    top: 1.9vh;
    left: 3.4%;
    color: map_get($colors, box-color);
    font-weight: 100;
    .offer-title {
      font-size: 2rem;
      font-weight: 100;
      word-spacing: 5px;
      margin-left: 10px;
      .bold {
        display: inline-block;
        font-weight: 600;
      }
      &:before {
        content: "";
        width: 5px;
        height: 90%;
        position: absolute;
        top: 0;
        left: 0;
        background: map_get($colors, details-color);
      }
    }
    .new-title {
      background: linear-gradient(45deg, transparent 5%, #e02f2f 0);
      padding: 2px 35px 2px 10px;
      display: inline-block;
      font-weight: 100;
      font-size: 1.6rem;

    }
  }
}

.offer-info {
  color: map_get($colors, box-text-color);
  .info {
    padding: 10px;
    .info-title {
      font-size: 2rem;
      margin-bottom: 10px;
      .bold {
        font-weight: 700;
      }
    }
    .info-list {
      list-style: none;
      font-family: "source_sans_pro", sans-serif;
      .info-list-el {
        display: table;
        line-height: 1.5;
        width: 100%;
        span {
          display: table-cell;
        }
        .left {
          width: 40%;
        }
      }
    }
  }

}

.offer-info {
  .info-prices {
    list-style: none;
    width: 100%;
    line-height: 1.5;
    height: 95%;
    background-color: map_get($colors, prices-background);
    font-size: 2.9vh;
    padding-top: 0.74vh;
    .info-prices-el {
      display: table;
      width: 100%;
      height: 31%;
      span {
        line-height: 1;
        vertical-align: middle;
        display: table-cell;
        width: 50%;
      }
      .prices-title {
        padding-left: 15px;
        font-size: 1.6rem;
        text-align: left;
      }
      .prices-price {
        padding-right: 30px;
        text-align: right;
        white-space: nowrap;
        position: relative;
        &:after {
          content: 'PLN';
          font-size: 1rem;
          position: absolute;
          top:5px;
          right: 15px;

        }
      }
    }
    .special-price {
      height: 40%;
      color: map_get($colors, details-color);
      background-color: map_get($colors, hot-price-color);
      font-weight: 900;
    }
  }
  .button {
    width: 100%;
    background-color: map_get($colors, details-color);
    color: map_get($colors, box-color);
    height: 44%;
    border: 2px solid map_get($colors, details-color);
    font-family: "bebasneue_regular", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover {
      background-color: map_get($colors, box-color);
      color: map_get($colors, details-color);
    }
  }
}
