@font-face {
  font-family: "bebasneue_regular";
  src: url("../fonts/bebasneue_regular.woff2") format('woff2');
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'bebasneue_regular', 'Arial', sans-serif;
  font-size: 1.4rem;
  background-color: map_get($colors, background-color);
}


.container {
  $columnNum: 12;
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  @for $i from 1 through $columnNum {
    .col-#{$i} {
      width: (100%/$columnNum * $i);
    }
  }
}

/* ------------------------------------------------------------- */
/* heading */
/* ------------------------------------------------------------- */
.heading {
  margin-top: 10px;
  padding-top: 10px;
  .heading-title {
    font-size: 3.6rem;
    color: map_get($colors, text-color);
    letter-spacing: 0.2rem;
    font-weight: 100;
  }
  .heading-sorting {
    text-align: right;
    font-size: 20px;
    color: map_get($colors, text-sorting);
    .sorting-title {
      margin-right: 20px;
      display: inline-block;
    }
    .sorting-price{
      cursor: pointer;
      position: relative;
      margin-right: 30px;
      display: inline-block;
    }
    .sorting-up {
      position: absolute;
      top: -5px;
      right: -20px;

    }
    .sorting-down {
      position: absolute;
      right: -20px;
      top: 5px;
    }
  }
}

/* ------------------------------------------------------------- */
/* offers */
/* ------------------------------------------------------------- */

.offers {
  margin-top: 25px;
  .offers-choice {
    .choice {
      .choice-title {
        font-size: 2.2rem;
        font-weight: 100;
        letter-spacing: 0.2rem;
      }
      .choice-model {
        font-size: 1.8rem;
        padding-left: 10px;
        font-weight: 200;
        .model-name {
          cursor: pointer;
          line-height: 25px;
          .model {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.offers-boxes {
  .offer-box {
    margin-bottom: 25px;
    overflow: hidden;
    background-color: map_get($colors, box-color);
    height: 18.8vh;
    min-height: 180px;
    .offer-image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      margin: 0;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, #828282 0%, rgba(0, 0, 0, 0.25) 38%, transparent 100%);
      }
    }
  }
}

.offer-box {
  position: relative;
  .offer-titles {
    position: absolute;
    top: 1.9vh;
    left: 3.4%;
    color: map_get($colors, box-color);
    font-weight: 100;
    .offer-title {
      font-size: 2rem;
      font-weight: 100;
      word-spacing: 5px;
      .bold {
        display: inline-block;
        font-weight: 600;
      }
    }

  }
}