

$colors: (
        background-color: #f6f6f6,
        details-color: #e02f2f,
        box-color: #ffffff,
        prices-background: #ededed,
        hot-price-color: #e2dddd,
        saled-color: #c0c0c0,
        box-text-color: #676767,
        text-color: #222222,
        text-sorting: #5c5c5c
);